<template>
           <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Cosecha produccion y beneficio de cacao
                        <button type="button" @click="abrirModal('cultivo','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarCosecha(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarCosecha(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class='table-responsive'>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Productor</th>
                                    <th>Finca</th>
                                    <th>Total Fresco(Kg)</th>
                                    <th>Total Seco(Kg)</th>
                                    <th>Tipo Fermentacion</th>
                                    <th>Punto de Compra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="cultivo in arrayCosecha" :key="cultivo.id">
                                    <td>
                                        <button type="button" @click="abrirModal('cultivo','actualizar',cultivo)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                    </td>
                                    <td v-text="cultivo.nombre_persona"></td>
                                    <td v-text="cultivo.nombre_finca"></td>
                                    <td v-text="cultivo.frescoTotalMes"></td>
                                    <td v-text="cultivo.secoTotalMes"></td>
                                    <td v-text="cultivo.nombre_fermentacion"></td>
                                    <td v-text="cultivo.nombre_lugarVenta"></td>                                    
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page==isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Productor</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="productor_id" @click="selectFinca(productor_id)" @change="selectFinca(productor_id)">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="productor in arrayProductor" :key="productor.id" :value="productor.id" v-text="productor.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Numero Documento</label>
                                    <div class="col-md-9">
                                    <input type="text" class="form-control" v-for="cedula in arrayCedula" :key="cedula.num_documento" :value="cedula.num_documento" v-text="cedula.num_documento" disabled>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Finca</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="finca_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="finca in arrayFinca" :key="finca.id" :value="finca.id" v-text="finca.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Cosecha</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="frecuencia">
                                          <option value="Seleccione" disabled>Seleccione</option>
                                          <option value="Semanal">Semanal</option>
                                          <option value="Quincenal">Quincenal</option>
                                          <option value="Mensual">Mensual</option>
                                      </select>  
                                    </div>
                                </div>  
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Fresco Total(Kg)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="frescoTotal"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Seco Total(Kg)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="secoTotal" class="form-control" placeholder="">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Realiza beneficio al producto?</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="beneficio">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="opcion in arrayOpcion" :key="opcion.id" :value="opcion.id" v-text="opcion.nombre" ></option>
                                        </select>   
                                    </div>
                                </div> 
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Fermentacion</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="fermentacion_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="fermentacion in arrayFermentacion" :key="fermentacion.id" :value="fermentacion.id" v-text="fermentacion.nombre" ></option>
                                        </select>   
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Secado</label>
                                    <div class="col-md-9">
                                         <select class="form-control" v-model="secado">
                                          <option value="Seleccione" disabled>Seleccione</option>
                                          <option value="Muelle">Muelle</option>
                                          <option value="Piso">Piso</option>
                                          <option value="Marquesina">Marquesina</option>
                                           <option value="Otros">Otros</option>
                                      </select>  
                                    </div>
                                </div>
                                <label class="col-md-3 form-control-label" for="text-input">Produccion Mes</label> 
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Fresco(Kg)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="frescoTotalMes"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Seco(Kg)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="secoTotalMes" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">A quien vende?(Puntos de compra)</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="lugarVenta_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="lugarVenta in arrayLugarVenta" :key="lugarVenta.id" :value="lugarVenta.id" v-text="lugarVenta.nombre" ></option>
                                        </select>   
                                    </div>
                                </div> 
                                <div v-show="errorCosecha" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjCosecha" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarCosecha()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarCosecha()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
    export default {
        data(){
            return{
                cosecha_id:0,
                productor_id:0,
                finca_id:0,
                frecuencia:'Seleccione',
                secado:'Seleccione',
                frescoTotal :0,
                secoTotal :0,
                beneficio :0,
                fermentacion_id :0,
                frescoTotalMes:0,
                secoTotalMes:0,
                lugarVenta_id:0,
                arrayCosecha: [],
                modal: 0,
                tituloModal : '',
                tipoAccion:0,
                errorCosecha : 0,
                errorMostrarMsjCosecha:[],
                pagination:{
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset:3,
                criterio: 'nombre',
                buscar: '',
                arrayProductor : [],
                arrayFinca : [],
                arrayOpcion: [],
                arrayFermentacion: [],
                arrayLugarVenta:[],
                arrayCedula:[]           
            }
        },
        computed:{
            isActived:function(){
                return this.pagination.current_page;
            },
            pagesNumber:function(){
                if(!this.pagination.to){
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from=1;
                }
                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }
                var pagesArray=[];
                while(from <= to){
                    pagesArray.push(from);
                    from ++;
                }
                return pagesArray;
            }

        },
        methods: {
            listarCosecha(page,buscar,criterio){
                let me =this;
                var url ='cosechacultivo?page='+page + '&buscar='+buscar+'&criterio='+criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCosecha= respuesta.cosechas.data;
                    me.pagination=respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectProductor(){
                let me =this;
                var url ='productor/selectProductor';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayProductor= respuesta.personas;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
             selectFinca(id){
                let me =this;
                var url ='finca/selectFinca/'+id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayFinca= respuesta.fincas;
                })
                .catch(function (error) {
                    console.log(error);
                })

                var url2 ='productor/getCedula/'+id;    
                axios.get(url2).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCedula= respuesta.persona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            selectOpcion(){
                let me =this;
                var url ='opcion/selectOpcion';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayOpcion= respuesta.opciones;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectFermentacion(){
                let me =this;
                var url ='fermentacion/selectFermentacion';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayFermentacion= respuesta.fermentacion;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectLugarVenta(){
                let me =this;
                var url ='lugarVenta/selectLugarVenta';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayLugarVenta= respuesta.lugarVentas;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.pagination.current_page = page;
                //Envia la peticion para visualizar la data de esa pagina
                me.listarCosecha(page,buscar,criterio);
            },
            registrarCosecha(){
            if(this.validarCosecha()){
                return;
            }
            let me=this;
            axios.post('cosechacultivo/registrar',{
                'productor_id':this.productor_id,
                'finca_id':this.finca_id,
                'frecuencia':this.frecuencia,
                'frescoTotal':this.frescoTotal,
                'secoTotal':this.secoTotal,
                'beneficio':this.beneficio,
                'fermentacion_id':this.fermentacion_id,
                'secado':this.secado,
                'frescoTotalMes':this.frescoTotalMes,
                'secoTotalMes':this.secoTotalMes,
                'lugarVenta_id':this.lugarVenta_id
            }).then(function (response) {
                    me.cerrarModal();
                    me.listarCosecha(1,'','nombre');
                })
                .catch(function (error) {
                    console.log(error);
                });

        },
            actualizarCosecha(){
            if(this.validarCosecha()){
                return;
            }
            let me=this;
            console.log(me);
            axios.put('cosechacultivo/actualizar',{
                'id':this.cosecha_id,
                'productor_id':this.productor_id,
                'finca_id':this.finca_id,
                'frecuencia':this.frecuencia,
                'frescoTotal':this.frescoTotal,
                'secoTotal':this.secoTotal,
                'beneficio':this.beneficio,
                'fermentacion_id':this.fermentacion_id,
                'secado':this.secado,
                'frescoTotalMes':this.frescoTotalMes,
                'secoTotalMes':this.secoTotalMes,
                'lugarVenta_id':this.lugarVenta_id
            }).then(function (response) {
                    me.cerrarModal();
                    me.listarCosecha(1,'','nombre');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },          
            validarCosecha(){
            this.errorCosecha=0;
            this.errorMostrarMsjCosecha=[];

            
            if(this.productor_id==0)this.errorMostrarMsjCosecha.push("Debe seleccionar un productor.");
            if(this.finca_id==0)this.errorMostrarMsjCosecha.push("Debe seleccionar una finca.");
            if(this.lugarVenta_id==0)this.errorMostrarMsjCosecha.push("Debe seleccionar un lugar de venta.");
            if(this.errorMostrarMsjCosecha.length) this.errorCosecha=1;

            return this.errorCosecha;
        },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.productor_id=0;
                this.finca_id=0;
                this.frecuencia='Seleccione';
                this.frescoTotal=0;
                this.secoTotal=0;
                this.beneficio=0;
                this.fermentacion_id=0;
                this.secado='Seleccione';
                this.frescoTotalMes=0;
                this.secoTotalMes=0;
                this.lugarVenta_id=0;
		        this.errorCosecha=0;
        },
            abrirModal(modelo,accion,data = []){
            switch (modelo) {
                case "cultivo":
                {    
                switch (accion) {
                    case 'registrar':
                    {
                        this.modal = 1;
                        this.tituloModal = 'Registrar cosecha ';
                        this.productor_id=0;
                        this.finca_id=0;
                        this.frecuencia='Seleccione';
                        this.frescoTotal=0;
                        this.secoTotal=0;
                        this.beneficio=0;
                        this.fermentacion_id=0;
                        this.secado='Seleccione';
                        this.frescoTotalMes=0;
                        this.secoTotalMes=0;
                        this.lugarVenta_id=0;
                        this.tipoAccion=1;
                        break;
                    }    
                    case 'actualizar':
                    {
                        this.modal=1;
                        this.tituloModal='Actualizar cosecha';
                        this.tipoAccion=2;
                        this.cosecha_id=data['id'];
                        this.productor_id=data['productor_id'];
                        this.finca_id=data['finca_id'];
                        this.frecuencia=data['frecuencia'];
                        this.frescoTotal=data['frescoTotal'];
                        this.secoTotal=data['secoTotal'];
                        this.beneficio=data['beneficio'];
                        this.fermentacion_id=data['fermentacion_id'];
                        this.secado=data['secado'];
                        this.frescoTotalMes=data['frescoTotalMes'];
                        this.secoTotalMes=data['secoTotalMes'];
                        this.lugarVenta_id=data['lugarVenta_id'];
                        break;
                    }       
                }
                }
            }
            this.selectProductor();
            this.selectFinca(this.productor_id);
            this.selectOpcion();
            this.selectFermentacion();
            this.selectLugarVenta();    
        }
        },        
        mounted() {
           this.listarCosecha(1,this.buscar,this.criterio);
           
        }
    }
</script>
<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display:flex;
        justify-content: center;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .modal-dialog{
    overflow-y: initial !important
    }
    .modal-body{
    height: 250px;
    overflow-y: auto;
    }
</style>