<template>
           <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Fincas
                        <button type="button" @click="abrirModal('finca','registrar')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarFinca(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarFinca(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class='table-responsive'>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre</th>
                                    <th>Productor</th>
                                    <th>Area Predio</th>
                                    <th>Latitud Predio</th>
                                    <th>Longitud Predio</th>
                                    <th>Altitud Predio</th>
                                    <th>Vereda</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="finca in arrayFinca" :key="finca.id">
                                    <td>
                                        <button type="button" @click="abrirModal('finca','actualizar',finca)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                    </td>
                                    <td v-text="finca.nombre"></td>
                                    <td v-text="finca.nombre_persona"></td>                                    
                                    <td v-text="finca.areaTotal"></td>
                                    <td v-text="finca.latitud"></td>
                                    <td v-text="finca.longitud"></td>
                                    <td v-text="finca.altitud"></td>
                                    <td v-text="finca.nombre_vereda"></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1"> 
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page==isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="nombre"  class="form-control" placeholder="Nombre de la finca">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Productor</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="productor_id" @click="getCedula(productor_id)" @change="getCedula(productor_id)">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="productor_id in arrayProductor" :key="productor_id.id" :value="productor_id.id" v-text="productor_id.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Numero Documento</label>
                                    <div class="col-md-9">
                                    <input type="text" class="form-control" v-for="cedula in arrayCedula" :key="cedula.num_documento" :value="cedula.num_documento" v-text="cedula.num_documento" disabled>  
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Fecha de registro</label>
                                    <div class="col-md-9">
                                         <v-datepicker :inline="true" v-model="fechaRegistro"></v-datepicker>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Telefono</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="telefono"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Departamento</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="departamento_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="departamento in arrayDepartamento" :key="departamento.id" :value="departamento.id" v-text="departamento.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Municipio</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="municipio_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="municipio in arrayMunicipio" :key="municipio.id" :value="municipio.id" v-text="municipio.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Zona</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="zona_id" @click="selectVereda(zona_id)" @change="selectVereda(zona_id)">
                                        <option value="0" disabled>Seleccione</option>
                                        <option v-for="arrayZona in arrayZona" :key="arrayZona.id" :value="arrayZona.id" v-text="arrayZona.nombre" ></option>
                                    </select> 
                                    </div>
                                </div>         
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Vereda</label>
                                    <div class="col-md-9">
                                       <select class="form-control" v-model="vereda_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="vereda in arrayVereda" :key="vereda.id" :value="vereda.id" v-text="vereda.nombre" ></option>
                                    </select>
                                    </div>
                                </div>                 
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Area total(Hectareas)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="areaTotal"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Vias de acceso</label>
                                    <div class="col-md-9">
                                      <multiselect class="form-control" v-model="viasAcceso_id"  placeholder="Seleccione uno o mas" label="nombre" track-by="id" :options="arrayVias" :multiple="true" :taggable="true">
                                      </multiselect>  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Latitud</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="latitud"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Longitud</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="longitud"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="number-input">Altitud(MSNM)</label>
                                    <div class="col-md-9">
                                        <input type="number" v-model="altitud"  class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Tenencia de la tierra</label>
                                    <div class="col-md-9">
                                      <select class="form-control" v-model="posesion_id">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="posesion in arrayPosesion" :key="posesion.id" :value="posesion.id" v-text="posesion.nombre" ></option>
                                      </select>  
                                    </div>
                                </div>                             
                                <div v-show="errorFinca" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjFinca" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarFinca()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarFinca()">Actualizar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import Multiselect from 'vue-multiselect';
    export default {
        data(){
            return{
                finca_id:0,
                nombre:'',
                productor_id:0,
                fechaRegistro:'',
                telefono:0,
                departamento_id :0,
                municipio_id:0,
                zona_id:0,  
                vereda_id:0,  
                areaTotal :0,
                viasAcceso_id :[],
                latitud :0,
                longitud:0,
                altitud :0,
                posesion_id:0,  
                arrayFinca: [],
                arrayVias: [],
                arrayCedula:[],             
                modal: 0,
                tituloModal : '',
                tipoAccion:0,
                errorFinca : 0,
                errorMostrarMsjFinca:[],
                pagination:{
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset:3,
                criterio: 'nombre',
                buscar: '',
                arrayProductor : [],
                arrayPosesion: [],
                arrayDepartamento: [],
                arrayMunicipio: [],
                arrayZona:[],
                arrayVereda: [],        
            }
        },
        computed:{
            isActived:function(){
                return this.pagination.current_page;
            },
            pagesNumber:function(){
                if(!this.pagination.to){
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if(from < 1){
                    from=1;
                }
                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }
                var pagesArray=[];
                while(from <= to){
                    pagesArray.push(from);
                    from ++;
                }
                return pagesArray;
            }
        },
        methods: {
            listarFinca(page,buscar,criterio){
                let me =this;
                var url ='finca?page='+page + '&buscar='+buscar+'&criterio='+criterio;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayFinca= respuesta.fincas.data;
                    me.pagination=respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectProductor(){
                let me =this;
                var url ='productor/selectProductor';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayProductor= respuesta.personas;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
             getCedula(id){
                let me = this; 
                var url2 ='productor/getCedula/'+id;    
                axios.get(url2).then(function (response) {
                    var respuesta = response.data;
                    me.arrayCedula= respuesta.persona;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            selectPosesion(){
                let me =this;
                var url ='posesion/selectPosesion';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayPosesion= respuesta.posesions;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectDepartamento(){
                let me =this;
                var url ='departamento/selectDepartamento';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayDepartamento= respuesta.departamentos;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectMunicipio(){
                let me =this;
                var url ='municipio/selectMunicipio';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayMunicipio= respuesta.municipios;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectZona(){
                let me =this;
                var url ='zona/selectZona';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayZona= respuesta.zonas;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
             selectVia(){
                let me =this;
                var url ='via/selectVia';
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayVias= respuesta.viaAcceso;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
           selectVereda(id){
                let me =this;
                var url ='vereda/selectVeredaZona/'+id;
                axios.get(url).then(function (response) {
                    var respuesta = response.data;
                    me.arrayVereda= respuesta.veredas;
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza a la pagina actual
                me.pagination.current_page = page;
                //Envia la peticion para visualizar la data de esa pagina
                me.listarFinca(page,buscar,criterio);
            },
            registrarFinca(){
            if(this.validarFinca()){
                return;
            }
            let me=this;
            axios.post('finca/registrar',{
                'nombre':this.nombre,
                'productor_id':this.productor_id,
                'fechaRegistro':this.fechaRegistro,
                'telefono':this.telefono,
                'departamento_id':this.departamento_id,
                'municipio_id':this.municipio_id,
                'zona_id':this.zona_id,
                'vereda_id':this.vereda_id,
                'areaTotal':this.areaTotal,
                'viasAcceso_id':this.viasAcceso_id,
                'latitud':this.latitud,
                'longitud':this.longitud,
                'altitud':this.altitud,
                'posesion_id':this.posesion_id
            }).then(function (response) {
                    me.cerrarModal();
                    me.listarFinca(1,'','nombre');
                })
                .catch(function (error) {
                    console.log(error);
                });

        },
            actualizarFinca(){
            if(this.validarFinca()){
                return;
            }
            let me=this;
            console.log(me);
            axios.put('finca/actualizar',{
                'id':this.finca_id,
                 'nombre':this.nombre,
                'productor_id':this.productor_id,
                'fechaRegistro':this.fechaRegistro,
                'telefono':this.telefono,
                'departamento_id':this.departamento_id,
                'municipio_id':this.municipio_id,
                'zona_id':this.zona_id,
                'vereda_id':this.vereda_id,
                'areaTotal':this.areaTotal,
                'viasAcceso_id':this.viasAcceso_id,
                'latitud':this.latitud,
                'longitud':this.longitud,
                'altitud':this.altitud,
                'posesion_id':this.posesion_id
                
            }).then(function (response) {
                    console.log(response);
                    me.cerrarModal();
                    me.listarFinca(1,'','nombre');
                })
                .catch(function (error) {
                    console.log(error);
                });
        },          
            validarFinca(){
            this.errorFinca=0;
            this.errorMostrarMsjFinca=[];

            if(!this.nombre) this.errorMostrarMsjFinca.push("El nombre de la finca no puede estar vacío ");
            if(this.productor_id==0)this.errorMostrarMsjFinca.push("Debe seleccionar un productor.");
            if(this.posesion_id==0)this.errorMostrarMsjFinca.push("Seleccione una forma de adquisicion valida.");
            if(this.vereda_id==0)this.errorMostrarMsjFinca.push("Seleccione una vereda.");
            if(this.errorMostrarMsjFinca.length) this.errorFinca=1;

            return this.errorFinca;
        },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.nombre='',
                this.productor_id=0,
                this.fechaRegistro='',
                this.departamento_id=0,
                this.municipio_id=0,
                this.zona_id=0,
                this.vereda_id=0,
                this.areaTotal=0,
                this.viasAcceso_id=[],
                this.latitud=0,
                this.longitud=0,
                this.altitud=0,
                this.posesion_id=0,
		        this.errorFinca=0;
        },
            abrirModal(modelo,accion,data = []){
            switch (modelo) {
                case "finca":
                {    
                switch (accion) {
                    case 'registrar':
                    {
                        this.modal = 1;
                        this.tituloModal = 'Registrar Finca';
                        this.nombre = '';
                        this.productor_id=0;
                        this.fechaRegistro='';
                        this.telefono=0;
                        this.departamento_id=0;
                        this.municipio_id=0;
                        this.zona_id=0;
                        this.vereda_id=0;
                        this.viasAcceso_id=[];    
                        this.areaTotal=0;
                        this.latitud=0;
                        this.longitud=0;
                        this.altitud=0;
                        this.posesion_id=0;
                        this.tipoAccion=1;
                        break;
                    }    
                    case 'actualizar':
                    {
                        this.modal=1;
                        this.tituloModal='Actualizar Finca';
                        this.tipoAccion=2;
                        this.finca_id=data['id'];
                        this.nombre = data['nombre'];
                        this.productor_id=data['productor_id'];
                        this.fechaRegistro=data['fechaRegistro'];
                        this.telefono = data['telefono'];
                        this.departamento_id=data['departamento_id'];
                        this.municipio_id=data['municipio_id'];
                        this.zona_id=data['zona_id'];
                        this.vereda_id=data['vereda_id'];
                        this.viasAcceso_id=data['viasAcceso_id'];    
                        this.areaTotal=data['areaTotal'];
                        this.latitud=data['latitud'];
                        this.longitud=data['longitud'];
                        this.altitud=data['altitud'];
                        this.posesion_id=data['posesion_id'];
                        break;
                    }       
                }
                }
            }
            this.selectDepartamento();
            this.selectMunicipio();
            this.selectZona();
            this.selectVereda(this.zona_id);
            this.selectProductor();
            this.selectPosesion();
            this.getCedula(this.productor_id);
            this.selectVia();

        }
        },        
        mounted() {
           this.listarFinca(1,this.buscar,this.criterio);

        }
    }
</script>
<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display:flex;
        justify-content: center;
    }
    .text-error{
        color:red !important;
        font-weight: bold;
    }
    .modal-dialog{
    overflow-y: initial !important
    }
    .modal-body{
    height: 250px;
    overflow-y: auto;
    }
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
